@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    margin: 0px;
    background-color: #d8cb5d;
    font-family: 'Roboto Mono', monospace;
}

*{
    margin: 0vh;
}

button {
    font-size: 3vh;
    background-color:#c8b719;
    border-color: #c7b830;
    border-radius: 0.75rem;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 6rem;
    padding: 1rem 2rem;
}


#dob {
    display: block;
    cursor: text;
    margin: auto auto;
    margin-top: 4rem;
    border-radius: 0.75rem;
    padding: 1rem 5rem;
    background-color: #c7be45;
    border-color: #4d491d;
    font-size: xx-large;
}

h1 {
    text-align: center;
    background-color: #b6b90d;
    height: 7rem;
    padding-top: 3rem;
    font-size: 55px;

}

#result {
    text-align: center;
    padding-top: 2rem;
    font-size: 5vh;
}

.message {
    text-align: center;
    margin-top: 5rem;
    font-size: 4vh;
}